.hidden {
    overflow: hidden;
}

#overlay-toggle {
    position: absolute;
    display: none;
}
.overlay {
    z-index: 1;
    background: black;
}
.overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}
.no-hover {
    display: block;
}
.hover {
    display: none;
}
#overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
}
.no-hover {
    display: block;
}
.hover {
    display: none;
}
.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
}
#overlay-toggle:checked ~ .overlay {
    animation-fill-mode: forwards;
    animation-name: fade, hide;
    animation-delay: 0s, 600ms;
    animation-duration: 600ms, 1ms;
}
#overlay-toggle:checked ~ .overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms;
}
@media(hover: hover) {
    .hover {
      display: block;
    }
    .no-hover {
      display: none;
    }
}
@keyframes fade{
    to {
      opacity: 0;
    }
}
@keyframes hide {
    to {
      visibility: hidden;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imgs/mywallpaper.png);
    color: transparent;
    font-family: sans-serif;
}

a {
    color: #eee;
}

.container {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.head {
    opacity: .5;
    font-size: 18px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    height: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body {
    z-index: 3;
}

.flex {
    display: flex;
}
